<h2>About Me</h2>
<p>I'm close to finishing up my Data Science Master at <a href = "https://www.ifi.uzh.ch/en.html">UZH</a>. Besides studying I work at a private bank in the fund data team. My goal is to found a startup.</p>

<h2>Interests</h2>
<ul>
  <li>Developments in Machine Learning</li>
  <li>Startups/li>
  <li>AI in Games</li>
</ul>

<p></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/derdav3/">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/ackermanndavid/">Linkedin</a>
  </li>
</ul>
